@import url('assets/fonts/fonts_include.css');

/* :root {

} */

body {
    margin: 0;
    padding: 0;
    display: grid;
    background-color: var(--main-bg);
    max-height: 100vh;
    font-family: 'Nunito Sans';
}

body * {
    box-sizing: border-box;
}

/* component table  */
table.main-table {
    border-collapse: collapse;
}

.main-table th, .main-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: inherit;
}

.main-table span {
    font-weight: 400;
    color: #aaa;
}

.table-control-btns {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    grid-column: span 2;
}

.btn {
    background: none;
    border: none;
    font-size: 1.15em;
    font-family: 'Nunito';
    padding: 10px 16px;
    border-radius: 10px;
}

.btn.btn_success {
    color: #107b15;
    background: #c5fab5;
}

.btn.btn_danger {
    color: #de0f00;
    background: #ffe3e1;
}

form.table-form {
    display: grid;
    padding: 20px;
    grid-template-columns: 20% auto;
    border-radius: 10px;
    gap: 5px;
}

input[type=text], input[type=number], input[type=date], textarea, select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 400px;
}

/* menu */

.menu__burger {
    background: #265bd6;
    padding: 10px;
    display: block;
    width: fit-content;
    position: fixed;
    color: #fff;
    font-weight: 800;
    letter-spacing: 2px;
    left: 20px;
    top: 20px;
    border-radius: 10px;
    user-select: none;
}

a.main-menu__item {
    width: 100%;
    color: #282828;
}

nav.main-menu {
    position: fixed;
    gap: 8px;
    width: fit-content;
    padding: 20px;
    background: #edfbff;
    top: 70px;
    left: 20px;
    display: none;
}
nav.main-menu.active {
    display: grid;
}

/* form add test  */
.addtest {
    grid-column: 2;
    padding-top: 100px;
}

.addtest .form-item {
    padding: 5px;
}
